<h3>Edit Pet</h3>

<form action="/pets/edit" method="post">
    <input type="text" name="name" value="<%= @pet.name %>">
    <select name="owner_id">
        <% @owners.each do |o| %>
            <option value="<%= o.id %>"><%= o.first_name %> <%= o.last_name %></option>
        <% end %> 
    </select>
    <select name="category">
        <option value="canine">Canine</option>
        <option value="feline">Feline</option>
        <option value="reptile">Reptile</option>
        <option value="amphibian">Amphibian</option>
        <option value="exotic">Exotic</option>
    </select>
    <input type="text" name="breed" value="<%= @pet.breed %>">
    <input type="date" name="birthday" value="<%= @pet.birthday %>">
    <input type="text" name="photo" value="<%= @pet.photo %>">
    <input type="hidden" name="id" value="<%= @pet.id %>">
    <input type="submit" text="Submit">
</form>