<html>
    <body>
        <h2>Edit Contact</h2>
        <form action="/contacts/update" method ="post">
            <input type="text" name="first_name" value="<%= @contact.first_name %>" placeholder="First Name">
            <input type="text" name="last_name" value="<%= @contact.last_name %>" placeholder="Last Name">
            <input type="text" name="phone" value="<%= @contact.phone %>" placeholder="Phone">
            <input type="text" name="email" value="<%= @contact.email %>" placeholder="Email">
            <input type="text" name="address" value="<%= @contact.address %>" placeholder="Address">
            <input type="text" name="city" value="<%= @contact.city %>" placeholder="City">
            <input type="text" name="state" value="<%= @contact.state %>" placeholder="State">
            <input type="text" name="zip" value="<%= @contact.zip %>" placeholder="Zip">
            <input type="hidden" name="id" value="<%= @contact.id %>">
            <input type="submit" value="Save">
        </form>
    </body>
</html>



