<h3>Course Details</h3>

<div>
    <%= @course.name %>
    <%= @course.location %>
    <%= @course.description %>
</div>

<a href="/courses/edit?id=<%= @course.id %>">Edit</a>
<a href="/courses/delete?id=<%= @course.id %>">Delete</a>